<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search" style="display: none">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search..."/>
                    <input type="button" class="submit" value=" "/>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li class="start " style="display: none;">
            <a ui-sref="home.index">
                <i class="icon-home"></i>
                <span class="title">首页</span>
            </a>
        </li>
        <li   >
            <a ui-sref="home.product({page:1})">
                <i class="icon-home"></i>
                <span class="title">商品管理</span>
            </a>
        </li>
        <li  class="" >
            <a ui-sref="home.category">
                <i class="icon-home"></i>
                <span class="title">商品种类管理</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="home.order({page:1})">
                <i class="icon-home"></i>
                <span class="title">订单管理</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="home.address">
                <i class="icon-home"></i>
                <span class="title">送货地址管理</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="home.sinceAddress">
                <i class="icon-home"></i>
                <span class="title">自提点管理</span>
            </a>
        </li>
        <li   >
            <a ui-sref="home.carousel">
                <i class="icon-home"></i>
                <span class="title">轮播图片管理</span>
            </a>
        </li>
        <!--<li class="">-->
            <!--<a ui-sref="home.deliverySite">-->
                <!--<i class="icon-home"></i>-->
                <!--<span class="title">支付方式管理</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="">-->
            <!--<a ui-sref="home.deliverySite">-->
                <!--<i class="icon-home"></i>-->
                <!--<span class="title">运费管理</span>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->